# Copyright 2020 Cambricon, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

image: yellow.hub.cambricon.com/caip/ci/buildpack:20250311
variables:
  GOPROXY: http://10.3.68.2:8080
  CNDEV_HEADER_URL: "http://10.3.68.83:9000/public/release/cndev/include/v6.5.24/cndev.h"
  HEADER_DEST_PATH: "${CI_PROJECT_DIR}/device-plugin/pkg/cndev/include/cndev.h"
.only-mr-refs: &only-mr-refs
  refs:
    - merge_requests
    - master

stages:
  - lint
  - build
  - test

include:
  - local: device-plugin/.gitlab-ci.yml

run-shellcheck-lint:
  stage: lint
  image: 10.3.68.2:5001/cambricon/shellcheck-alpine:v0.7.0
  script:
    - find . -name '*.sh' -exec shellcheck {} +
  only:
    changes:
      - .gitlab-ci.yml
      - "**/*.sh"
    <<: *only-mr-refs
